<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<title>Vit App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="dist/bundle.css">
</head>

<body data-ng-app="app" class="likearts-content">
	<div class="container-fluid">
		<div class="container">
			<div class="header-container">
				<header data-ng-controller="HeaderController as vm" class="header">
					<div class="row no-padding">
						<div class="col-md-3">
							<a href="#">
								<div class="logo"></div>
							</a>
						</div>
						<div class="col-md-7">
							<div class="menu-desktop">
								<ul class="menu-desktop-list">
									<li class="menu-desktop-list__item">
										<a href="#" class="menu-desktop-list__link menu-desktop-list__link--active">Пробиотики</a>
									</li>
									<li class="menu-desktop-list__item">
										<a href="#" class="menu-desktop-list__link">Производство</a>
									</li>
									<li class="menu-desktop-list__item">
										<a href="#" class="menu-desktop-list__link">Отзывы</a>
									</li>
									<li class="menu-desktop-list__item">
										<a href="#" class="menu-desktop-list__link">Где купить</a>
									</li>
								</ul>
							</div>
							<div class="menu-mobile-container">
								<div data-ng-controller="MenuMobileController as vm" class="menu-mobile">
									<div id="menu-mobile-btn" ng-click="vm.controlMenu($event)" class="menu-mobile__btn">
										<i class="material-icons menu-mobile__icon">view_headline</i>
									</div>
									<div id="menu-mobile-body" class="menu-mobile__body display-hide">
										<ul class="menu-mobile-list">
											<li class="menu-mobile-list__item">
												<a href="#" class="menu-mobile-list__link">Компания</a>
											</li>
											<li class="menu-mobile-list__item">
												<a href="#" class="menu-mobile-list__link menu-mobile-list__link--active">Информация</a>
												<div class="menu-mobile-submenu">
													<a href="#" class="menu-mobile-submenu__link">Цены</a>
													<a href="#" class="menu-mobile-submenu__link">Доставка и оплата</a>
													<a href="#" class="menu-mobile-submenu__link menu-mobile-submenu__link--active">Подписка</a>
													<a href="#" class="menu-mobile-submenu__link">Публичная оферта</a>
													<a href="#" class="menu-mobile-submenu__link">Вопросы</a>
												</div>
											</li>
											<li class="menu-mobile-list__item">
												<a href="#" class="menu-mobile-list__link">Пробиотики</a>
											</li>
											<li class="menu-mobile-list__item">
												<a href="#" class="menu-mobile-list__link">Контакты</a>
											</li>
										</ul>
										<div class="social-block">
											<div class="social-item social-item--chat"></div>
											<div class="social-item social-item--facebook"></div>
											<div class="social-item social-item--instagram"></div>
											<div class="social-item social-item--youtube"></div>
											<div class="social-item social-item--google"></div>
											<div class="social-item social-item--vk"></div>
										</div>
										<div class="phone-block">
											<div class="phone-btn">
												<i class="material-icons phone-btn__icon">call</i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="cart">
								<a href="#" class="cart__link">
									<div class="cart__icon"></div>
									<div class="cart__sum">10</div>
								</a>
							</div>
						</div>
					</div>
				</header>
			</div>
		</div>
		<div class="container">
			<div class="main-container">
				<div class="row no-padding">
					<div class="col-xs-12 col-md-6 col-md-6">
						<div class="product-content">
							<div data-ng-controller="ProductPageController as vm" class="product-card">
								<div class="product-card__title">
									<span class="product-card__accent">Биобаланс А</span> жидкий культуральный
								</div>
								<div class="product-card__sub-title">
									Lactobacillus acidophilus штамм 100АШ), КОЕ от 10^7 в 1 мл
								</div>
								<div class="product-card__picture">
									<img class="img-responsive" src="./resources/img/content/product-1.png" alt="some image">
								</div>
								<div class="product-description">
									<div class="product-description__title">Описание</div>
									<div class="product-description__content">
										– Подавляет активность патогенной микрофлоры и выводит их токсины
										<br> – Восстанавливает перистальтику кишечника
										<br> – Cнижает уровень холестерина и оксалатов
										<br> – Расщепляет лактозу, стимулирует синтез иммуноглобулинов
										<br> – Создает защитную пленку на всех слизистых
										<br> – Оказывает протективное действие на поврежденные клетки и улучшает метаболические процессы
										<br>
									</div>
									<div class="product-description__title">
										<span data-ng-click="vm.controlInset($event)" data-description-trigger="0" class="product-description__text-dashed cursor-pointer">Показания к применению</span>
									</div>
									<div data-description-target="0" class="product-description__content product-description__content--hide">
										1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quia possimus vero consequuntur nostrum dolore quisquam. Culpa earum soluta magnam quia ut expedita, velit enim porro incidunt reiciendis maxime assumenda iste blanditiis deserunt quae sapiente doloribus nulla quis, maiores labore molestias. Hic fuga voluptatibus, quam quis doloremque dolore! Aperiam, labore.
									</div>
									<div class="product-description__title">
										<span data-ng-click="vm.controlInset($event)" data-description-trigger="1" class="product-description__text-dashed cursor-pointer">Применение</span>
									</div>
									<div data-description-target="1" class="product-description__content product-description__content--hide">
										2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quia possimus vero consequuntur nostrum dolore quisquam. Culpa earum soluta magnam quia ut expedita, velit enim porro incidunt reiciendis maxime assumenda iste blanditiis deserunt quae sapiente doloribus nulla quis, maiores labore molestias. Hic fuga voluptatibus, quam quis doloremque dolore! Aperiam, labore.
									</div>
									<div class="product-description__title">
										<span data-ng-click="vm.controlInset($event)" data-description-trigger="2" class="product-description__text-dashed cursor-pointer">Рекомендации</span>
									</div>
									<div data-description-target="2" class="product-description__content product-description__content--hide">
										3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quia possimus vero consequuntur nostrum dolore quisquam. Culpa earum soluta magnam quia ut expedita, velit enim porro incidunt reiciendis maxime assumenda iste blanditiis deserunt quae sapiente doloribus nulla quis, maiores labore molestias. Hic fuga voluptatibus, quam quis doloremque dolore! Aperiam, labore.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-md-6"></div>
				</div>
			</div>
		</div>
	</div>


	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="dist/bundle.js"></script>
</body>

</html>