<!DOCTYPE html>
<html lang="ru" data-ng-app="app">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<title>Vit App</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="./bower_components/ng-dialog/css/ngDialog.min.css">
	<link rel="stylesheet" href="./bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
	<link rel="stylesheet" href="./dist/bundle.css?rev=c8e7733685480984c55422ad53c927f3">
	<!--?rev=@@hash-->
</head>

<body data-ng-cloak class="likearts-content">
	<div class="container-fluid">

		<div class="header-container">
			<div class="container">
				<header class="header">
					<div class="flex-container">
						<div class="flex-item">
							<a href="#" class="logo-link">
								<div class="logo"></div>
							</a>
						</div>
						<div class="flex-item">
							<div class="menu-desktop">
								<ul class="menu-desktop-list">
									<li class="menu-desktop-list__item">
										<a href="#" class="menu-desktop-list__link menu-desktop-list__link--active">Пробиотики</a>
									</li>
									<li class="menu-desktop-list__item">
										<a href="#" class="menu-desktop-list__link">Производство</a>
									</li>
									<li class="menu-desktop-list__item">
										<a href="#" class="menu-desktop-list__link">Отзывы</a>
									</li>
									<li class="menu-desktop-list__item">
										<a href="#" class="menu-desktop-list__link">Где купить</a>
									</li>
									<li class="menu-desktop-list__item">
										<span class="phone">+7 (499) 164-13-80</span>
									</li>
								</ul>
							</div>
							<div class="menu-mobile-container">
								<div class="menu-mobile" data-ng-controller="MobileMenuController as mobileMenu">
									<div id="menu-mobile-btn" data-hm-tap="mobileMenu.controlMenu($event)" class="menu-mobile__btn">
										<i class="material-icons menu-mobile__icon">view_headline</i>
									</div>
									<div id="menu-mobile-body" class="menu-mobile__body display-hide">
										<ul class="menu-mobile-list">
											<li class="menu-mobile-list__item">
												<a href="#" class="menu-mobile-list__link">Компания</a>
											</li>
											<li class="menu-mobile-list__item">
												<a href="#" class="menu-mobile-list__link menu-mobile-list__link--active">Информация</a>
												<div class="menu-mobile-submenu">
													<a href="#" class="menu-mobile-submenu__link">Цены</a>
													<a href="#" class="menu-mobile-submenu__link">Доставка и оплата</a>
													<a href="#" class="menu-mobile-submenu__link menu-mobile-submenu__link--active">Подписка</a>
													<a href="#" class="menu-mobile-submenu__link">Публичная оферта</a>
													<a href="#" class="menu-mobile-submenu__link">Вопросы</a>
												</div>
											</li>
											<li class="menu-mobile-list__item">
												<a href="#" class="menu-mobile-list__link">Пробиотики</a>
											</li>
											<li class="menu-mobile-list__item">
												<a href="#" class="menu-mobile-list__link">Контакты</a>
											</li>
										</ul>
										<div class="social-block">
											<div class="social-item social-item--chat"></div>
											<div class="social-item social-item--facebook"></div>
											<div class="social-item social-item--instagram"></div>
											<div class="social-item social-item--youtube"></div>
											<div class="social-item social-item--google"></div>
											<div class="social-item social-item--vk"></div>
										</div>
										<div class="phone-block">
											<div class="phone-btn">
												<i class="material-icons phone-btn__icon">call</i>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="cart-container" data-ng-controller="CartController as cart">
								<div class="cart">
									<div data-hm-tap="cart.open()" class="cart__icon"></div>
									<div data-hm-tap="cart.open()" class="cart__sum">{{cart.amount()}}</div>

									<div data-ng-if="cart.visibility" class="cart-action js-cart-action">
										<div class="cart-action__container">
											<div class="cart-action__title">
												<span data-ng-if="cart.amount() === 0">Корзина пуста</span>
												<span data-ng-if="cart.amount() !== 0">Добавлено в корзину</span>
											</div>
											<div class="cart-action__items">
												<div data-ng-repeat="product in cart.products track by product.id" class="cart-action__item">
													<div class="cart-action__circle cart-action__counter">{{product.amount}}</div>
													<div data-hm-tap="cart.removeItem(product.id)" class="cart-action__circle cart-action__close-btn">
														<i class="material-icons cart-action__icon">close</i>
													</div>
													<div class="cart-action__pic">
														<img class="img-responsive" data-ng-src="{{::product.image}}" alt="">
													</div>
													<div class="cart-action__info">
														<div class="cart-action__item-title">{{::product.title}}</div>
														<div class="cart-action__item-snippet">{{::product.snippet}}</div>
														<div class="cart-action__item-sum">Сумма {{product.price * product.amount}} руб.</div>
													</div>
												</div>
											</div>
											<div class="cart-action__sum">
												<span>Общая стоимость</span>
												<span>{{cart.getGeneralSum()}} руб</span>
											</div>
											<div class="cart-action__buttons">
												<a href="#" class="cart-action__button cart-action__button--gutter">Заказать в 1 клик</a>
												<a href="#" class="cart-action__button">Оформить заказ</a>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</header>
			</div>
		</div>

		<div class="product-item-page-container" data-ng-controller="ProductItemPageController as productItemPage">
			<div class="container">
				<div class="row no-padding">
					<div class="col-xs-6 col-sm-6 col-md-7 col-xxs-override col-md-7-override">
						<div class="product-card">
							<div class="phone-padding">
								<div class="product-card__title">
									<span class="product-card__accent">Биобаланс А</span>
								</div>
								<div class="product-card__subtitle">
									<span class="text-black">жидкий культуральный</span> / Lactobacillus acidophilus штамм 100АШ), КОЕ от 10^7 в 1 мл
								</div>
								<div class="product-card__picture-container">
									<img class="img-responsive product-card__picture" src="./resources/img/content/product-1.png" alt="some image">
								</div>
							</div>
							<div data-card-id="0" class="phone-visible">
								<div class="flex-container">
									<div class="flex-item">
										<div class="metadata" style="display: none;">
											<div data-metadata-title="Биобаланс А"></div>
											<div data-metadata-image="./resources/img/content/product-1.png"></div>
											<div data-metadata-snippet="Жидкая форма"></div>
											<div data-metadata-price="590"></div>
										</div>
										<div class="control-card__header">590 руб.</div>
										<div class="select-product select-product--phone">
											<div class="select-product__title">Выберите объем</div>
											<div class="select-product__items">
												<div data-hm-tap="productItemPage.setVolume($event)" data-volume-product="60" class="js-select-product__item js-select-product__item--active">60</div>

												<div data-hm-tap="productItemPage.setVolume($event)" data-volume-product="150" class="js-select-product__item">150</div>

												<div data-hm-tap="productItemPage.setVolume($event)" data-volume-product="300" class="js-select-product__item">300</div>
											</div>
											<div class="select-product__title">Количество</div>
											<div class="amount-control">
												<div data-hm-tap="productItemPage.setAmount($event, -1)" class="amount-control__btn amount-control__btn--minus">
													<i class="material-icons amount-control__icon">remove</i>
												</div>
												<div class="amount-control__counter">{{productItemPage.getAmount(0)}}</div>
												<div data-hm-tap="productItemPage.setAmount($event, 1)" class="amount-control__btn amount-control__btn--plus">
													<i class="material-icons amount-control__icon">add</i>
												</div>
											</div>
										</div>
									</div>
									<div class="flex-item">
										<div class="vertical-divider"></div>
									</div>
									<div class="flex-item">
										<div class="sum-block">
											<div class="sum-block__price">
												<span>590</span> руб.
												<div class="sum-block__price-description">
													цена за 1 шт.
												</div>
											</div>
											<div class="sum-block__discount">
												Скидка 10% при покупке курсом
											</div>
										</div>
									</div>
								</div>
								<div class="btn-container">
									<div data-hm-tap="productItemPage.addToCart($event)" data-md-ink-ripple="#fff" class="buy-btn buy-btn--phone">Купить</div>
								</div>
							</div>
							<div class="phone-padding">
								<div class="product-description">
									<div class="product-description__title">Описание</div>
									<div class="product-description__content product-description__content--active">
										<p>Биобаланс А – сильный иммунитет для активной жизни! Если вы чувствуете постоянную усталость, нехватку энергии и апатию, возможно, причина в нарушенной микрофлоре кишечника – дисбактериозе. При дисбактериозе количество вредных бактерий в организме
											гораздо больше, чем полезных, которые защищают иммунитет человека.
											<br>Энергия поступает в организм с пищей. Дисбактериоз приводит к ухудшению процессов пищеварения и усвоения питательных веществ, поэтому вы получаете меньше энергии с пищей. Кроме того, вредные бактерии выделяют токсины, отравляющие организм
											изнутри.
											<br>Восстановление микрофлоры кишечника – единственное решение этих проблем. Биобаланс А содержит ацидофильные лактобактерии. Заселяя организм, они начинают бороться с вредными бактериями и производимыми ими токсинами. Они нормализуют пищеварение
											и улучшают метаболизм, помогая вам получать питательные вещества в достатке. Пробиотик также используется для лечения серьезных заболеваний*.</p>
										<p>Закажите Биобаланс А, и уже через месяц применения препарата вы почувствуете прилив энергии для новых достижений!</p>
									</div>
									<div class="product-description__title">
										<span data-hm-tap="productItemPage.controlInset($event)" data-inset-trigger="0" class="product-description__text-dashed cursor-pointer">Воздействие на организм</span>
									</div>
									<div data-inset-target="0" class="product-description__content">
										<p>– Борется с патогенам (вредными бактериями). Лактобактерии сражаются с патогенами и продуктами их деятельности – токсинами, отравляющими организм изнутри.</p>
										<p>– Восстанавливает перистальтику кишечника. При нормальной перистальтике все полезные вещества успевают всасываться, а неусвояемые – выводиться из организма. Вы обеспечены хорошим самочувствием и энергией на каждый день.</p>
										<p>– Cнижает уровень холестерина и оксалатов, провоцирующих серьезные заболевания. Ацидофильные лактобактерии снижают их уровень, предотвращая риск развития заболевания.</p>
										<p>– Расщепляет лактозу, стимулирует синтез иммуноглобулинов, тем самым укрепляя иммунитет и стойкость организма к различным заболеваниям.</p>
										<p>– Создает защитную пленку на всех слизистых. Полезные бактерии заселяют слизистые, создавая дополнительную защиту от попадания вредных элементов в кровь. Это особенно важно для противодействия вирусам и аллергии. – Оказывает протективное действие
											на поврежденные клетки, улучшая процессы заживления и восстановления организма.</p>
										<p>– Улучшает метаболизм.</p>
									</div>
									<div class="product-description__title">
										<span data-hm-tap="productItemPage.controlInset($event)" data-inset-trigger="1" class="product-description__text-dashed cursor-pointer">Показания к применению</span>
									</div>
									<div data-inset-target="1" class="product-description__content">
										<p>Детям с 3 до 6 лет по 1 таблетке 3 раза в день во время еды (в измельченном виде, растворив в воде), детям с 6 лет и взрослым по 3-4 таблетки 3 раза в день во время еды.</p>
										<p>Детям до 14-ти лет принимать по согласованию с врачом. Противопоказания: индивидуальная непереносимость.</p>
										<p>Перед употреблением взболтать. Продолжительность приема - 14-30 дней.</p>
									</div>
									<div class="product-description__title">
										<span data-hm-tap="productItemPage.controlInset($event)" data-inset-trigger="2" class="product-description__text-dashed cursor-pointer">Как принимать</span>
									</div>
									<div data-inset-target="2" class="product-description__content">
										1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quia possimus vero consequuntur nostrum dolore quisquam. Culpa earum soluta magnam quia ut expedita, velit enim porro incidunt reiciendis maxime assumenda iste blanditiis deserunt quae
										sapiente doloribus nulla quis, maiores labore molestias. Hic fuga voluptatibus, quam quis doloremque dolore! Aperiam, labore.
									</div>
									<div class="product-description__title">
										<span data-hm-tap="productItemPage.controlInset($event)" data-inset-trigger="3" class="product-description__text-dashed cursor-pointer">Состав и условия хранения</span>
									</div>
									<div data-inset-target="3" class="product-description__content">
										2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quia possimus vero consequuntur nostrum dolore quisquam. Culpa earum soluta magnam quia ut expedita, velit enim porro incidunt reiciendis maxime assumenda iste blanditiis deserunt quae
										sapiente doloribus nulla quis, maiores labore molestias. Hic fuga voluptatibus, quam quis doloremque dolore! Aperiam, labore.
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-offset-1 col-xs-5 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-3 col-xxs-override col-md-offset-2-override col-md-3-override">
						<div class="info-block">
							<div class="info-block__container">
								<div class="info-block__discount">
									<a href="#" class="info-block__discount-link">Вы экономите 10% на покупке препарата вместе с курсом</a>
								</div>
								<div data-card-id="0" class="control-card">
									<div class="metadata" style="display: none;">
										<div data-metadata-title="Биобаланс А"></div>
										<div data-metadata-image="./resources/img/content/product-1.png"></div>
										<div data-metadata-snippet="Жидкая форма"></div>
										<div data-metadata-price="590"></div>
									</div>
									<div class="control-card__header">590 руб.</div>
									<div class="control-card__body">
										<div class="select-product">
											<div class="select-product__title">Выберите объем</div>
											<div class="select-product__items">
												<div data-hm-tap="productItemPage.setVolume($event)" data-volume-product="60" class="js-select-product__item js-select-product__item--active">60</div>
												<div data-hm-tap="productItemPage.setVolume($event)" data-volume-product="150" class="js-select-product__item">150</div>
												<div data-hm-tap="productItemPage.setVolume($event)" data-volume-product="300" class="js-select-product__item">300</div>
											</div>
											<div class="select-product__title">Количество</div>
											<div class="amount-control amount-control--phone">
												<div data-hm-tap="productItemPage.setAmount($event, -1)" class="amount-control__btn amount-control__btn--minus">
													<i class="material-icons amount-control__icon">remove</i>
												</div>
												<div class="amount-control__counter">{{productItemPage.getAmount(0)}}</div>
												<div data-hm-tap="productItemPage.setAmount($event, 1)" class="amount-control__btn amount-control__btn--plus">
													<i class="material-icons amount-control__icon">add</i>
												</div>
											</div>
										</div>
									</div>
									<div class="control-card__footer">
										<div data-hm-tap="productItemPage.addToCart($event)" data-md-ink-ripple="#fff" class="buy-btn">Купить</div>
									</div>
								</div>
								<div class="certificate-block">
									<div class="certificate-block__title">Сертификаты</div>
									<div class="certificate-block__description">Препарат запатентован с участием ведущих микробиологов РФ, имеет свидетельство о регистрации.</div>
									<div class="certificate-items">
										<div data-hm-tap="productItemPage.clickToOpen('certificate-1')" class="certificate-items__item">
											<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="certificate">
											<script type="text/ng-template" id="certificate-1">
												<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="certificate">
											</script>
										</div>
										<div data-hm-tap="productItemPage.clickToOpen('certificate-2')" class="certificate-items__item">
											<img class="img-responsive" src="./resources/img/content/cert-2.jpg" alt="certificate">
											<script type="text/ng-template" id="certificate-2">
												<img class="img-responsive" src="./resources/img/content/cert-2.jpg" alt="certificate">
											</script>
										</div>
										<div data-hm-tap="productItemPage.clickToOpen('certificate-3')" class="certificate-items__item">
											<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="certificate">
											<script type="text/ng-template" id="certificate-3">
												<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="certificate">
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-container" data-ng-controller="SliderFooterController as sliderFooter">
			<div class="container">
				<div class="slider">
					<div class="row no-padding">
						<div class="col-md-12">
							<div class="vit-slider">
								<div id="vit-slider-content--footer" data-slider-delay="8000" class="vit-slider__content">
									<div class="vit-slider__item">
										<h2 class="slider-title">Максимальный эффект #1</h2>
										<p class="slider-text">Для достижения наилучших результатов мы рекомендуем принимать пробиотики комплексным курсом.</p>
									</div>
									<div class="vit-slider__item">
										<h2 class="slider-title">Максимальный эффект #2</h2>
										<p class="slider-text">Для достижения наилучших результатов мы рекомендуем принимать пробиотики комплексным курсом.</p>
									</div>
									<div class="vit-slider__item">
										<h2 class="slider-title">Максимальный эффект #3</h2>
										<p class="slider-text">Для достижения наилучших результатов мы рекомендуем принимать пробиотики комплексным курсом.</p>
									</div>
								</div>
								<div class="vit-slider__controls">
									<div data-hm-tap="sliderFooter.changeContent(-1, '#vit-slider-content--footer')" class="vit-slider__btn vit-slider__btn--prev">
										<i class="material-icons vit-slider__icon">arrow_back</i>
									</div>
									<div data-hm-tap="sliderFooter.changeContent(1, '#vit-slider-content--footer')" class="vit-slider__btn vit-slider__btn--next">
										<i class="material-icons vit-slider__icon">arrow_forward</i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-container">
			<div class="container">
				<footer class="footer">
					<div class="footer__content--desktop">
						<div class="row no-padding">
							<div class="col-md-12">
								<div class="white-label">
									<a href="#" class="white-label__link">Задайте вопрос нашим специалистам</a>
								</div>
							</div>
						</div>
						<div class="row no-padding">
							<div class="col-sm-12 col-md-8 col-sm-12-override">
								<div class="footer-menu--desktop">
									<div class="footer-menu__column">
										<div class="footer-menu__title">Компания</div>
										<div class="footer-menu-links">
											<a href="#" class="footer-menu-links__item">Производство</a>
											<a href="#" class="footer-menu-links__item">Медицинский центр</a>
											<a href="#" class="footer-menu-links__item">О нас говорят</a>
											<a href="#" class="footer-menu-links__item">Пресс-кит</a>
											<a href="#" class="footer-menu-links__item">Контакты</a>
										</div>
									</div>
									<div class="footer-menu__column">
										<div class="footer-menu__title">Информация</div>
										<div class="footer-menu-links">
											<a href="#" class="footer-menu-links__item">Цены</a>
											<a href="#" class="footer-menu-links__item">Доставка и оплата</a>
											<a href="#" class="footer-menu-links__item">Подписка</a>
											<a href="#" class="footer-menu-links__item">Публичная оферта</a>
											<a href="#" class="footer-menu-links__item">Вопросы</a>
										</div>
									</div>
									<div class="footer-menu__column">
										<div class="footer-menu__title">Пробиотики</div>
										<div class="footer-menu-links">
											<a href="#" class="footer-menu-links__item">Купить пробиотики</a>
											<a href="#" class="footer-menu-links__item">Купить курс</a>
											<a href="#" class="footer-menu-links__item">Рассчет курса</a>
											<a href="#" class="footer-menu-links__item">Партнерам</a>
										</div>
									</div>
									<div class="footer-menu__column footer-menu__column--mobile">
										<div class="footer-menu__title">Интернет</div>
										<div class="footer-menu-links">
											<a href="#" class="footer-menu-links__item footer-social-link footer-social-link--blog">Блог</a>
											<a href="#" class="footer-menu-links__item footer-social-link footer-social-link--facebook">Facebook</a>
											<a href="#" class="footer-menu-links__item footer-social-link footer-social-link--vk">Vkontakte</a>
											<a href="#" class="footer-menu-links__item footer-social-link footer-social-link--google">Google+</a>
											<a href="#" class="footer-menu-links__item footer-social-link footer-social-link--instagram">Instagram</a>
											<a href="#" class="footer-menu-links__item footer-social-link footer-social-link--youtube">Youtube</a>
										</div>
									</div>
								</div>
							</div>
							<div class="tablet-visible">
								<div class="footer-social footer-social--tablet">
									<a href="#" class="footer-social__item footer-social__item--blog"></a>
									<a href="#" class="footer-social__item footer-social__item--facebook"></a>
									<a href="#" class="footer-social__item footer-social__item--instagram"></a>
									<a href="#" class="footer-social__item footer-social__item--youtube"></a>
									<a href="#" class="footer-social__item footer-social__item--google"></a>
									<a href="#" class="footer-social__item footer-social__item--vk"></a>
								</div>
							</div>
							<div class="col-sm-12 col-md-offset-1 col-md-3 col-sm-12-override">
								<a href="#" class="btn-link">
									<div class="buy-btn">Купить пробиотики</div>
								</a>
								<div class="contacts">
									<div class="contacts__item contacts__item--mail">
										<a href="mailto:info@vitbiomed.ru" class="mail-link">info@vitbiomed.ru</a>
									</div>
									<div class="contacts__item contacts__item--phone">
										+7 (499) 164-13-80; +7 (499) 164-88-31
									</div>
									<div class="contacts__item contacts__item--adress">
										Москва, ул. 5-я Парковая, д. 46
									</div>
								</div>
							</div>
						</div>
						<div class="row no-padding">
							<div class="col-md-12">
								<div class="copyright">Витбиомед &copy; 2016</div>
							</div>
						</div>
					</div>
					<div class="footer__content--phone">
						<div class="row no-padding">
							<div class="col-xs-12">
								<div class="white-label white-label--phone">
									<a href="#" class="white-label__link">Задайте вопрос нашим специалистам</a>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="footer-menu--phone">
									<div class="footer-menu--phone__item">
										<div class="footer-menu--phone__title">Компания</div>
										<div class="footer-menu--phone__links">
											<a href="#" class="footer-menu--phone__link-item">Производство</a>
											<a href="#" class="footer-menu--phone__link-item">Медицинский центр</a>
											<a href="#" class="footer-menu--phone__link-item">О нас говорят</a>
											<a href="#" class="footer-menu--phone__link-item">Пресс-кит</a>
											<a href="#" class="footer-menu--phone__link-item">Контакты</a>
										</div>
									</div>
									<div class="footer-menu--phone__item footer-menu--phone__item--active">
										<div class="footer-menu--phone__title">Информация</div>
										<div class="footer-menu--phone__links">
											<a href="#" class="footer-menu--phone__link-item">Цены</a>
											<a href="#" class="footer-menu--phone__link-item">Доставка и оплата</a>
											<a href="#" class="footer-menu--phone__link-item footer-menu--phone__link-item--active">Подписка</a>
											<a href="#" class="footer-menu--phone__link-item">Публичная оферта</a>
											<a href="#" class="footer-menu--phone__link-item">Вопросы</a>
										</div>
									</div>
									<div class="footer-menu--phone__item">
										<div class="footer-menu--phone__title">Пробиотики</div>
										<div class="footer-menu--phone__links">
											<a href="#" class="footer-menu--phone__link-item">Купить пробиотики</a>
											<a href="#" class="footer-menu--phone__link-item">Купить курс</a>
											<a href="#" class="footer-menu--phone__link-item">Рассчет курса</a>
											<a href="#" class="footer-menu--phone__link-item">Партнерам</a>
										</div>
									</div>
									<div class="footer-menu--phone__item">
										<div class="footer-menu--phone__title">Контакты</div>
										<div class="footer-menu--phone__links"></div>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="footer-social footer-social--phone">
									<a href="#" class="footer-social__item footer-social__item--blog"></a>
									<a href="#" class="footer-social__item footer-social__item--facebook"></a>
									<a href="#" class="footer-social__item footer-social__item--instagram"></a>
									<a href="#" class="footer-social__item footer-social__item--youtube"></a>
									<a href="#" class="footer-social__item footer-social__item--google"></a>
									<a href="#" class="footer-social__item footer-social__item--vk"></a>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>

	</div>

	<script src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script src="./bower_components/angular/angular.min.js"></script>
	<script src="./bower_components/lodash/dist/lodash.min.js"></script>
	<script src="./bower_components/hammerjs/hammer.min.js"></script>
	<script src="./bower_components/AngularHammer/angular.hammer.min.js"></script>
	<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="./bower_components/angular-material/angular-material.min.js"></script>
	<script src="./bower_components/ng-dialog/js/ngDialog.min.js"></script>
	<script src="./dist/bundle.js?rev=dd914c267d87c5201a8004a73e614b02"></script>

</body>

</html>