@import 'nib'


.likearts-content .products-page-container
	padding 50px 0
	@media screen and (max-width: $phone)
		padding 0
		background-color #eee
		
.likearts-content .products-page-container .col-md-12-override
	@media screen and (max-width: $phone)
		padding 0!important
		
.likearts-content .products-page-container .banner
	width 100%
	height auto
	min-height 400px
	@extend .cover
	@media screen and (max-width: 1200px)
		min-height 0
	
.likearts-content .products-page-container .banner__content
	width 50%
	line-height 1.2
	padding 0 40px
	@media screen and (max-width: 1200px)
		width 60%
	@media screen and (max-width: $notebook)
		width 100%
		text-align center
		padding 0
		background-color #fff
	
.likearts-content .products-page-container .banner__title
	font-size 7rem
	color #bababa
	font-weight 900
	@media screen and (max-width: 1300px)
		font-size 6rem
	@media screen and (max-width: 1200px)
		font-size 5rem
	@media screen and (max-width: $tablet)
		font-size 4rem
	
	
.likearts-content .products-page-container .banner__subtitle
	font-size 2.2rem
	color #bababa
	margin 20px 0 0 0
	@media screen and (max-width: 1200px)
		font-size 2rem
	@media screen and (max-width: $tablet)
		font-size 1.8rem
	
.likearts-content .products-page-container .banner__description
	font-size 2.8rem
	color $secondary-color-text
	font-weight 300
	margin 30px 0
	@media screen and (max-width: 1200px)
		font-size 2.5rem
	@media screen and (max-width: $tablet)
		font-size 2rem
	
.likearts-content .products-page-container .banner__link
	font-size 1.8rem
	text-transform uppercase
	color $secondary-color-text
	font-weight 700
	@extend .transition
	&:hover
		color $primary-color
	&::after
		content '›'
		margin 0 0 0 5px
		
.likearts-content .products-page-container .control-panel
	margin 20px 0
	@extend .flex 
	justify-content space-between
	@media screen and (max-width: $phone)
		justify-content center
	
.likearts-content .products-page-container .calc
	@extend .flex 
	@media screen and (max-width: $phone)
		display none
	
		
.likearts-content .products-page-container .calc__btn
	width 50px
	height 50px
	background-color #fff
	@extend .cover, .paper-shadow-z1
	background-image url('../resources/icons/calc.svg')
	cursor pointer 
	
.likearts-content .products-page-container .calc__sign
	margin 0 18px
	font-size 2rem
	
.likearts-content .products-page-container .order__btn
	padding 15px 60px
	background-color #179aea
	font-size 1.4rem
	text-transform uppercase
	color #fff
	font-weight 700
	user-select none
	cursor pointer
	letter-spacing 1px
	@extend .paper-shadow-z1, .transition  
	&:hover
		background-color #3F51B5
	@media screen and (max-width: $tablet)
		padding 15px 40px
	@media screen and (max-width: $phone)
		margin 30px 0 10px 0
	@media screen and (max-width: 400px)
		padding 15px 30px
		
.likearts-content .products-page-container .tab-panel
	margin 100px 0 0 0
	@extend .flex
	flex-flow column wrap
	@media screen and (max-width: $phone)
		margin 10px 0 0 0
		
.likearts-content .products-page-container .tab-panel__controls
	position relative
	z-index 1
	@extend .flex
	@extend .paper-shadow-z1
	@media screen and (max-width: $phone)
		flex-flow column nowrap
		box-shadow none!important
		padding 0 0 30px 0
	
.likearts-content .products-page-container .tab-panel__btn
	padding 20px 60px
	background-color #fff
	text-transform uppercase
	font-size 1.4rem
	font-weight 700
	user-select none
	cursor pointer
	letter-spacing 1px
	border-left 1px solid #eeeeee
	border-right 1px solid #eeeeee
	&:first-child
		border none
	&:last-child
		border none
	@extend .transition 
	&:hover
		background-color $primary-color
		color #fff
		border-left 1px solid $primary-color
		border-right 1px solid $primary-color
		&:first-child
			border none
		&:last-child
			border none
	@media screen and (max-width: 1200px)
		padding 20px 40px
	@media screen and (max-width: 992px)
		font-size 1.2rem
		padding 20px
	@media screen and (max-width: $phone)
		background-color inherit
		border none
		padding 10px 0
		width 100%
		text-align center
		&:hover
			background-color inherit
			border none
			color $primary-color
		
.likearts-content .products-page-container .tab-panel__btn--active
	background-color $primary-color
	color #fff
	@media screen and (max-width: $phone)
		background-color inherit
		color $primary-color
		
.likearts-content .products-page-container .tab-panel__content
	width 100%
	padding 60px 0 0 0
	background-color #fff
	@media screen and (max-width: $phone)
		padding 40px 0
	
.likearts-content .products-page-container .tab-panel__item
	display none

.likearts-content .products-page-container .tab-panel__item--active
	display block
	
.likearts-content .products-page-container .product-container
	@extend .flex 
	flex-flow row wrap
	justify-content flex-start
	@media screen and (max-width: $phone)
		justify-content center
	
.likearts-content .products-page-container .product-container__item
	width calc(33.33% - 40px)
	height auto
	min-height 650px
	border-radius 2px
	margin 20px
	background-color #fff
	@extend .paper-shadow-z1, .transition
	@media screen and (max-width: $full-hd)
		width calc(25% - 30px)
		&:nth-child(n)
			margin 20px
		&:nth-child(4n)
			margin 20px 0 20px 20px
		&:nth-child(4n - 3)
			margin 20px 20px 20px 0
	@media screen and (max-width: $desktop)
		width calc(33.33% - 27px)
		&:nth-child(3n - 2)
			margin 20px 20px 20px 0
		&:nth-child(3n - 1)
			margin 20px 20px
		&:nth-child(3n)
			margin 20px 0 20px 20px
	@media screen and (max-width: $notebook)
		width calc(50% - 20px)
		&:nth-child(2n - 1)
			margin 20px 20px 20px 0
		&:nth-child(2n)
			margin 20px 0 20px 20px
	@media screen and (max-width: $phone)
		width calc(100% - 30px)
		&:nth-child(n)
			margin 5px 10px