@import 'nib'

.likearts-content .main-container .product-content
	padding 50px  0 0 0
	
.likearts-content .main-container .product-card
	width 100%
	max-width 470px
	
.likearts-content .main-container .product-card__title
	font-size 4rem
	color $primary-color-text
	line-height 1.2
	padding 10px 0
	font-weight 500
	@media screen and (max-width: $tablet)
		font-size 3.2rem
	@media screen and (max-width: $phone)
		font-size 2.3rem
	
.likearts-content .main-container .product-card__accent
	color #f44336
	
.likearts-content .main-container .product-card__sub-title
	color $secondary-color-text
	font-weight 300
	font-size 2rem
	padding 10px 0
	font-weight 300
	@media screen and (max-width: $tablet)
		font-size 1.8rem
	@media screen and (max-width: $phone)
		font-size 1.4rem
	
.likearts-content .main-container .product-card__picture
	margin 40px 0
	
.likearts-content .main-container .product-description__title
	font-size 2.4rem
	font-weight 300
	color $primary-color-text
	margin 20px 0
	@media screen and (max-width: $phone)
		font-size 1.8rem
	
.likearts-content .main-container .product-description__content
	font-size 1.5rem
	font-weight 300
	color $primary-color-text
	padding  0 0 20px 0
	@media screen and (max-width: $phone)
		font-size 1.3rem
			
.likearts-content .main-container .product-description__text-dashed
	border-bottom 1px dashed $primary-color-text
	
.likearts-content .main-container .product-description__content--hide
	display none
		
		
		
		
		
		
		
		
		