@import 'nib'

.likearts-content .products-page-container .tab-panel
	//margin 100px 0 0 0
	margin 30px 0 0 0
	@extend .flex
	flex-flow column wrap
	@media screen and (max-width: $phone)
		margin 0
		
.likearts-content .products-page-container .tab-panel__controls
	position relative
	z-index 1
	@extend .flex
	@extend .paper-shadow-z1
	@media screen and (max-width: $phone)
		box-shadow none!important
		padding 0 0 30px 0

	&--desktop
		@media screen and (max-width: $phone)
			display none

	&--phone
		display none
		@media screen and (max-width: $phone)
			display inherit
			padding 0
			width 100%
	
.likearts-content .products-page-container .tab-panel__btn
	position relative
	padding 20px 60px
	background-color #fff
	text-transform uppercase
	font-size 1.4rem
	font-weight 700
	user-select none
	cursor pointer
	letter-spacing 1px
	border-left 1px solid #eeeeee
	border-right 1px solid #eeeeee
	&:first-child
		border none
	&:last-child
		border none
	@extend .transition 
	&:hover
		background-color $primary-color
		color #fff
		border-left 1px solid $primary-color
		border-right 1px solid $primary-color
		&:first-child
			border none
		&:last-child
			border none
	@media screen and (max-width: 1200px)
		padding 20px 40px
	@media screen and (max-width: 992px)
		font-size 1.2rem
		padding 20px
	@media screen and (max-width: $phone)
		background-color inherit
		border none
		padding 10px 0
		width 100%
		text-align center
		&:hover
			background-color inherit
			border none
			color $primary-color
		
.likearts-content .products-page-container .js-tab-panel__btn--active
	background-color $primary-color
	color #fff
	border-left 1px solid $primary-color
	border-right 1px solid $primary-color
	&:first-child
		border none
	&:last-child
		border none
	@media screen and (max-width: $phone)
		background-color inherit
		color $primary-color
		border none
		
.likearts-content .products-page-container .tab-panel__content
	width 100%
	padding 60px 0 0 0
	background-color #fff
	@media screen and (max-width: $phone)
		padding 10px 0
	
.likearts-content .products-page-container .tab-panel__item
	display none

.likearts-content .products-page-container .js-tab-panel__item--active
	display block