@import 'nib'

.likearts-content .menu-mobile-container .menu-mobile__btn
	display none
	width 30px
	height 30px
	position absolute
	top 35px
	left 20px
	cursor pointer
	user-select none
	z-index 100
	@media screen and (max-width: $tablet)
		display inherit
	@media screen and (max-width: $phone)
		top 0
		left 0
		width 62px
		height 62px
		
.likearts-content .menu-mobile-container .menu-mobile__icon
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	font-size 4rem
	color $primary-color
	@media screen and (max-width: $phone)
		color #FFF
		
.likearts-content .menu-mobile-container .menu-mobile__clicked
	background-color #FFF
	.menu-mobile__icon
		color $primary-color
		
.likearts-content .menu-mobile-container .menu-mobile__body
	position absolute
	top 75px
	left 20px
	width 100%
	max-width 270px
	height auto
	background-color #FFF
	z-index 99
	font-weight 500
	@extend .paper-shadow-z2
	@media screen and (min-width: 769px)
		display none!important
	@media screen and (max-width: $phone)
		top 62px
		left 0px
		width calc(100% - 62px)

.likearts-content .menu-mobile-container .menu-mobile-list
	list-style-type none
	margin 0!important
	padding 40px 20px
	
.likearts-content .menu-mobile-container .menu-mobile-list__link
	display block
	text-transform uppercase
	color $primary-color-text
	font-weight 500
	font-size 1.8rem
	letter-spacing 2px
	@extends .transition	
	
.likearts-content .menu-mobile-container .menu-mobile-list__item
	padding 10px
	
.likearts-content .menu-mobile-container .menu-mobile-list__link--active
	color #c1c1c1
	
.likearts-content .menu-mobile-container .menu-mobile-submenu
	padding 20px 0 20px 25px
	
	
.likearts-content .menu-mobile-container .menu-mobile-submenu__link
	display block
	color $primary-color-text
	font-size 1.5rem
	&:not(:last-child)
		margin 0 0 15px 0
		
.likearts-content .menu-mobile-container .menu-mobile-submenu__link--active
	color $primary-color
	
.likearts-content .menu-mobile-container .social-block
	width 100%
	height auto
	background-color #FFF
	border-top 1px solid #e0e0e0
	border-bottom 1px solid #e0e0e0
	padding 20px
	@extend .flex
	flex-wrap wrap
	@media screen and (min-width: $phone)
		display none
		
.likearts-content .menu-mobile-container .social-item
	width 24px
	height 24px
	margin 4px
	@extend .cover
	cursor pointer
	@media screen and (max-width: 310px)
		margin 10px
	
.likearts-content .menu-mobile-container .social-item--chat
	background-image url(../resources/icons/lt--b.svg)
	
.likearts-content .menu-mobile-container .social-item--facebook
	background-image url(../resources/icons/fb--b.svg)
	
.likearts-content .menu-mobile-container .social-item--instagram
	background-image url(../resources/icons/ig--b.svg)
	
.likearts-content .menu-mobile-container .social-item--youtube
	background-image url(../resources/icons/yt--b.svg)
	
.likearts-content .menu-mobile-container .social-item--google
	background-image url(../resources/icons/gl--b.svg)
	
.likearts-content .menu-mobile-container .social-item--vk
	background-image url(../resources/icons/vk--b.svg)


.likearts-content .menu-mobile-container .phone-block
	width 100%
	height auto
	min-height 100px
	background-color #eeeeee
	@extend .flex
	@media screen and (min-width: $phone)
		display none
			
.likearts-content .menu-mobile-container .phone-btn
	position relative
	width 50px
	height 50px
	border-radius 50%
	background-color $primary-color
	@extend .paper-shadow-z1
	cursor pointer
	
.likearts-content .menu-mobile-container .phone-btn__icon
	color #FFF
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	

	
	
	
	
	
	
	
	