@import 'nib'

.likearts-content .product-container .product-card
	position relative
	width auto
	height auto
	min-height 720px
	border-radius 2px
	background-color #fff
	@extend .flex
	flex-flow column wrap
	justify-content space-between
	@extend .paper-shadow-z1, .transition
	&:hover
		@extend .paper-shadow-z2
			
.likearts-content .product-container .product-card__header
	width 100%
	@extend .flex
	justify-content flex-start
	align-items stretch
	
.likearts-content .product-container .product-card__price
	width auto
	min-width 100px
	height auto
	min-height 50px
	padding 10px
	background-color #383838
	color #fff
	@extend .flex
	font-size 1.8rem
	text-align center
	border-radius 2px 0 0 0
	@media screen and (max-width: $tablet)
		font-size 1.5rem
		min-width 80px
	
.likearts-content .product-container .product-card__discount
	flex 1
	@extend .flex
	padding 10px
	text-align center
	border-bottom 1px solid #eee
	
.likearts-content .product-container .product-card__discount-link
	color $primary-color-text
	font-size 1.5rem
	color $secondary-color-text
	@extend .transition
	&::after
		content '›'
		margin 0 0 0 5px
	&:hover
		color $primary-color
	@media screen and (max-width: 1200px)
		font-size 1rem
	@media screen and (max-width: 992px)
		font-size 1.2rem
			
.likearts-content .product-container .product-card__footer
	width 100%

.likearts-content .product-container .product-card__action-btn
	width 100%
	padding 15px
	background-color $primary-color
	cursor pointer
	color #fff
	text-transform uppercase
	text-align center
	font-size 1.4rem
	letter-spacing 1px
	overflow hidden
	user-select none
	position relative
	border-radius 0 0 2px 2px
	
.likearts-content  .product-container .product-card__content
	display none
	width 100%
	height auto
	flex 1
	
.likearts-content  .product-container .product-card__content--gray
	background-color #fafafa
	
.likearts-content .product-container .js-product-card__content--active
	display inherit
	
.likearts-content .product-container .product-card__checker
	position relative
	width 32px
	height 32px
	@extend .cover
	margin-left auto
	cursor pointer
	
.likearts-content .product-container .product-card__checker--open
	background-image url(../resources/icons/info.svg)
	
.likearts-content .product-container .product-card__checker--close
	background-image url(../resources/icons/minus.svg)
	
.likearts-content  .product-container .product-card__wrapper
	width 100%
	@extend .flex
	flex-flow column wrap
	justify-content space-between
	
.likearts-content .product-container .product-card__title
	font-size 2.8rem
	text-align center
	padding 10px 30px
	@media screen and (max-width: $tablet)
		font-size 2.2rem
	@media screen and (max-width: $phone)
		font-size 2.4rem
	
.likearts-content .product-container .product-card__subtitle
	font-size 1.3rem
	text-align center
	color $secondary-color-text
	padding 10px 30px

.likearts-content .product-container .product-card__description
	padding 10px 30px
	text-align center
	font-size 1.5rem
	
.likearts-content .product-container .product-card__pic
	margin 10px auto
	max-height 220px
	
.likearts-content .product-container .select-block-container
	margin 10px 0
	
.likearts-content .product-container .product-card__letter
	text-align center
	font-size 8rem
	font-weight 900
	line-height 1
	margin 20px 0
	
.likearts-content .product-container .composition
	text-align center
	padding 0 60px
	@media screen and (max-width: $full-hd)
		padding 0 10px
	@media screen and (max-width: 1680px)
		padding 0 60px
	@media screen and (max-width: 1200px)
		padding 0 40px
	@media screen and (max-width: $tablet)
		padding 0 20px
	@media screen and (max-width: $phone)
		padding 0 30px
	
.likearts-content .product-container .composition__sign
	color $secondary-color-text
	font-size 1.5rem
	margin 10px 0
	
.likearts-content .product-container .composition__detail
	font-size 1.3rem
	margin 20px 0
	
	
.likearts-content .product-container .composition__sign--small
	font-size 1.3rem
	color $secondary-color-text
	
.likearts-content .product-container .composition__sign--margin
	margin 20px 0
	
.likearts-content .product-container .composition__labels
	@extend .flex
	flex-flow row wrap
	
.likearts-content .product-container .composition__label
	width 40px
	height 40px
	margin 10px
	@extend .cover
	@media screen and (max-width: $tablet)
		width 35px
		height 35px
	@media screen and (max-width: 1200px)
		margin 5px
	
.likearts-content .product-container .composition__label--lactose
	background-image url(../resources/icons/lactose.svg)
	
.likearts-content .product-container .composition__label--gluten
	background-image url(../resources/icons/gluten.svg)
	
.likearts-content .product-container .composition__label--sugar
	background-image url(../resources/icons/sugar.svg)
	
.likearts-content .product-container .composition__label--gmo
	background-image url(../resources/icons/gmo.svg)
	
.likearts-content .product-container .route-btn__container
	@extend .flex
	
.likearts-content .product-container .route-btn__link
	display inline-block
	padding 20px 40px
	margin 20px auto
	text-transform uppercase
	color $primary-color-text
	border-bottom 1px solid #c6c6c6
	text-align center
	font-size 1.5rem
	font-weight 700
	@extend .transition
	&:hover
		color $primary-color
		border-bottom 1px solid $primary-color
	&::after
		content '›'
		margin 0 0 0 5px
	@media screen and (max-width: $tablet)
		font-size 1.2rem


.likearts-content .product-container .composition__table
	width 100%

.likearts-content .product-container .composition__table-row
	@extend .flex
	justify-content space-between

.likearts-content .product-container .composition__table-cell
	&:first-child
		text-align left
		margin 0 100px 0 0
		@media screen and (max-width: $notebook)
			margin 0 50px 0 0
		@media screen and (max-width: $tablet)
			margin 0 20px 0 0
		@media screen and (max-width: $phone)
			margin 0 50px 0 0

.likearts-content .product-container .toggle-container
	margin 30px 0
	width 50%
	transform translate(10px, 0)
	@extend .flex
	&__capture
		margin 0 10px
		&--green
			color $primary-color

