<div class="menu-mobile">
	<div id="menu-mobile-btn" ng-click="vm.controlMenu($event)" class="menu-mobile__btn">
		<i class="material-icons menu-mobile__icon">view_headline</i>
	</div>
	<div id="menu-mobile-body" class="menu-mobile__body display-hide">
		<ul class="menu-mobile-list">
			<li class="menu-mobile-list__item">
				<a href="#" class="menu-mobile-list__link">Компания</a>
			</li>
			<li class="menu-mobile-list__item">
				<a href="#" class="menu-mobile-list__link menu-mobile-list__link--active">Информация</a>
				<div class="menu-mobile-submenu">
					<a href="#" class="menu-mobile-submenu__link">Цены</a>
					<a href="#" class="menu-mobile-submenu__link">Доставка и оплата</a>
					<a href="#" class="menu-mobile-submenu__link menu-mobile-submenu__link--active">Подписка</a>
					<a href="#" class="menu-mobile-submenu__link">Публичная оферта</a>
					<a href="#" class="menu-mobile-submenu__link">Вопросы</a>
				</div>
			</li>
			<li class="menu-mobile-list__item">
				<a href="#" class="menu-mobile-list__link">Пробиотики</a>
			</li>
			<li class="menu-mobile-list__item">
				<a href="#" class="menu-mobile-list__link">Контакты</a>
			</li>
		</ul>
		<div class="social-block">
			<div class="social-item social-item--chat"></div>
			<div class="social-item social-item--facebook"></div>
			<div class="social-item social-item--instagram"></div>
			<div class="social-item social-item--youtube"></div>
			<div class="social-item social-item--google"></div>
			<div class="social-item social-item--vk"></div>
		</div>
		<div class="phone-block">
			<div class="phone-btn">
				<i class="material-icons phone-btn__icon">call</i>
			</div>
		</div>
	</div>
</div>