@import 'nib'

.likearts-content .footer-container
	width 100%
	height auto
	min-height 500px
	background-color #e0e0e0
	@media screen and (max-width: $phone)
		background-color #383838
	
.likearts-content .footer-container .footer__content--desktop
	padding 60px 0
	@media screen and (max-width: $phone)
		display none
	
.likearts-content .footer-container .white-label
	width 100%
	height auto
	@extend .flex, .paper-shadow-z1
	background-color #FFF
	padding 20px
	text-align center
	margin-bottom 60px
	
.likearts-content .footer-container .white-label--phone
	margin-bottom 40px
	@media screen and (max-width: $phone)
		margin-bottom 0
		padding 30px
	
.likearts-content .footer-container .white-label__link
	font-size 3rem
	font-weight 300
	color $primary-color-text
	&::after
		content '›'
		font-size 2rem
		margin 0 0 0 5px
	@media screen and (max-width: $tablet)
		font-size 2.4rem
	@media screen and (max-width: $phone)
		font-size 2rem
		
.likearts-content .footer-container .footer-menu--desktop
	@extend .flex
	justify-content space-between
	align-items baseline
		
.likearts-content .footer-container .footer-menu__title
	font-size 1.8rem
	font-weight 700
	text-transform uppercase
	margin-bottom 20px
	
.likearts-content .footer-container .footer-menu-links__item
	display block
	color $primary-color-text
	font-size 1.5rem
	margin 10px 0
	&:hover
		text-decoration underline
		
.likearts-content .footer-container .footer-menu__column--mobile
	@media screen and (max-width: $tablet)
		display none

.likearts-content .footer-container .buy-btn
	width 100%
	height auto
	padding 15px
	background-color $primary-color
	text-align center
	color #FFF
	text-transform uppercase
	font-size 1.4rem
	margin-bottom 30px
	line-height 1.4
	@extend .paper-shadow-z1
	
.likearts-content .footer-container .btn-link
	&:hover
		text-decoration none
	&:active
		text-decoration none
	&:focus
		text-decoration none
	@media screen and (max-width: $notebook)
		display none
		
.likearts-content .footer-container .col-sm-12-override
	@media screen and (max-width: $notebook)
		width 100%
		margin 0
		
.likearts-content .footer-container .contacts
	@media screen and (max-width: $notebook)
		margin 20px 0 50px 0
	
.likearts-content .footer-container .contacts__item
	text-align right
	margin 10px 0
	@media screen and (max-width: $notebook)
		text-align center
	
.likearts-content .footer-container .mail-link
	color $primary-color-text
	text-decoration underline
	font-size 1.5rem
	
.likearts-content .footer-container .contacts__item--adress
	text-decoration underline
	
.likearts-content .footer-container .copyright
	text-align right
	font-size 1.3rem
	color #aeaeae
	@media screen and (max-width: $notebook)
		text-align center
		
.likearts-content .footer-container .footer-social-link
	&::before
		display inline-block
		content ''
		position relative
		top 5px
		right 0px
		margin 0 3px 0 0
		width 21px
		height 20px
		@extend .cover
		background-image url(../resources/icons/social.png)
	
.likearts-content .footer-container .footer-social-link--blog
	&::before
		background-position 0px 0px
	
.likearts-content .footer-container .footer-social-link--facebook
	&::before
		background-position -32px 0px
	
.likearts-content .footer-container .footer-social-link--vk
	&::before
		background-position -160px 0px
	
.likearts-content .footer-container .footer-social-link--instagram
	&::before
		background-position -64px 0px
	
.likearts-content .footer-container .footer-social-link--google
	&::before
		background-position -128px 0px
	
.likearts-content .footer-container .footer-social-link--youtube
	&::before
		background-position -96px 0px
	
.likearts-content .footer-container .footer-social
	@extend .flex
	justify-content space-around
	margin 20px 0
	
.likearts-content .footer-container .footer-social--phone
	flex-wrap wrap
	justify-content center
	margin 0
	
.likearts-content .footer-container .footer-social--phone
	.footer-social__item
		background-image url(../resources/icons/social-w.png)
		margin 5px
		width 31px
		height 30px
	.footer-social__item--blog
		background-position 0px 0px
	.footer-social__item--facebook
		background-position -48px 0px
	.footer-social__item--vk
		background-position -239px 0px
	.footer-social__item--instagram
		background-position -96px 0px
	.footer-social__item--google
		background-position -191px 0px
	.footer-social__item--youtube
		background-position -144px 0px
		
.likearts-content .footer-container .footer-social__item
	display block
	width 51px
	height 50px
	@extend .cover
	background-image url(../resources/icons/social.png)
	
.likearts-content .footer-container .footer-social__item--blog
	background-position 0px 0px
	
.likearts-content .footer-container .footer-social__item--facebook
	background-position -80px 0px
	
.likearts-content .footer-container .footer-social__item--vk
	background-position -400px 0px
	
.likearts-content .footer-container .footer-social__item--instagram
	background-position -160px 0px
	
.likearts-content .footer-container .footer-social__item--google
	background-position -320px 0px
	
.likearts-content .footer-container .footer-social__item--youtube
	background-position -240px 0px
	
.likearts-content .footer-container .footer__content--phone
	display none
	padding 25px 0
	color #FFF
	@media screen and (max-width: $phone)
		display inherit
		
.likearts-content .footer-container .footer-menu--phone
	padding 40px 25px
		
.likearts-content .footer-container .footer-menu--phone__title
	text-transform uppercase
	font-size 2.1rem
	margin 10px 0
	
.likearts-content .footer-container .footer-menu--phone__links
	display none
	padding 15px
	
.likearts-content .footer-container .footer-menu--phone__link-item
	display block
	color #FFF
	margin 10px 0
	
.likearts-content .footer-container .footer-menu--phone__item--active
	.footer-menu--phone__title
		color #bdbdbd
	.footer-menu--phone__links
		display inherit
		
.likearts-content .footer-container .footer-menu--phone__link-item--active
	color #bdbdbd
	
	

	
