@import 'nib'

.likearts-content .header-container .header
	position relative
	width 100%
	height auto
	padding 40px 0
	z-index 99
	@media screen and (max-width: 600px)
		padding 20px 0
	@media screen and (max-width: $phone)
		background-color $primary-color
	
.likearts-content .header-container .logo
	width 207px
	height 27px
	background-image url(../resources/img/logo.svg)
	@extend .cover
	@media screen and (max-width: 992px)
		margin 0 auto
	@media screen and (max-width: 600px)
		width 138px
		height 18px
	@media screen and (max-width: $phone)
		background-image url(../resources/img/logo-w.svg)
		position relative
		top 1px
		right 10px

.likearts-content .header-container .menu-desktop
	@media screen and (max-width: 992px)
		margin 20px
	@media screen and (max-width: $tablet)
		display none
	
.likearts-content .header-container .menu-desktop-list
	list-style-type none
	@extend .flex
	justify-content flex-start
	flex-wrap wrap
	@media screen and (max-width: 992px)
		justify-content center
		
.likearts-content .header-container .menu-desktop-list__link
	display inline-block
	padding 5px 20px
	text-transform uppercase
	color $primary-color-text
	font-weight 500
	font-size 1.5rem
	letter-spacing 2px
	@extends .transition
	&:hover
		color $primary-color
	@media screen and (max-width: 1200px)
		padding 5px 10px
		font-size 1.3rem
	
.likearts-content .header-container .menu-desktop-list__link--active
	color $primary-color
	
.likearts-content .header-container .cart
	margin 5px 0
	@media screen and (max-width: 992px)
		margin 0
	@media screen and (max-width: $tablet)
		position absolute
		top -30px
		right 10%
	@media screen and (max-width: 600px)
		top -20px
		right 20px
	@media screen and (max-width: $phone)
		top -39px
		right 0
		background-color #7cb342
	
.likearts-content .header-container .cart__icon
	width 16px
	height 15px
	background-image url(../resources/icons/cart.png)
	@extend .cover
	margin 0 5px
	@media screen and (max-width: $phone)
		background-image url(../resources/icons/cart-w.png)
		width 31px
		height 30px
		margin 15px
	
.likearts-content .header-container .cart__sum 
	color $primary-color
	font-size 1.2rem
	@media screen and (max-width: $phone)
		display none
	
.likearts-content .header-container .cart__link
	@extend .flex
	justify-content flex-start
	@media screen and (max-width: 992px)
		justify-content center 
		


