@import 'nib'

.likearts-content .header-container
	border-bottom 1px solid #eee
	@media screen and (max-width: $phone)
		border none

.likearts-content .header-container .header
	position relative
	width 100%
	height auto
	padding 40px 0
	z-index 99
	@media screen and (max-width: $phone)
		background-color $primary-color
		padding 0
		padding 20px 0

.likearts-content .header-container .logo-link
	display inline-block
	position relative
	@media screen and (max-width: 992px)
		left 50%
		transform translateX(-50%)
	
.likearts-content .header-container .logo
	width 207px
	height 27px
	background-image url(../resources/img/logo.svg)
	@extend .cover
	@media screen and (max-width: $phone)
		background-image url(../resources/img/logo-w.svg)
		position relative
		top 5px
		width 138px
		height 18px

.likearts-content .header-container .menu-desktop
	@media screen and (max-width: 992px)
		margin 20px
	@media screen and (max-width: $tablet)
		display none
	
.likearts-content .header-container .menu-desktop-list
	list-style-type none
	margin 0
	@extend .flex
	justify-content flex-end
	flex-wrap wrap
	@media screen and (max-width: 1350px)
		justify-content flex-start
	@media screen and (max-width: 1200px)
		padding 0
	@media screen and (max-width: 992px)
		justify-content center
	
		
.likearts-content .header-container .menu-desktop-list__item
	margin 0 20px
	@media screen and (max-width: 1350px)
		margin 0 10px
	
		
.likearts-content .header-container .menu-desktop-list__link
	display inline-block
	padding 5px 0
	text-transform uppercase
	color $primary-color-text
	font-weight 500
	font-size 1.5rem
	letter-spacing 2px
	@extends .transition
	&:hover
		color $primary-color
	@media screen and (max-width: 1200px)
		font-size 1.3rem
	
.likearts-content .header-container .menu-desktop-list__link--active
	color $primary-color
	
.likearts-content .header-container .phone
	color $secondary-color-text
	font-size 1.5rem
	@media screen and (max-width: 1200px)
		font-size 1.3rem
	
.likearts-content .header-container .cart
	position relative
	margin 5px 0
	@extend .flex
	justify-content flex-end
	@media screen and (max-width: 992px)
		margin 0
		justify-content center 
	@media screen and (max-width: $tablet)
		position absolute
		top -30px
		right calc(5% - 20px)
	@media screen and (max-width: 600px)
		top -20px
		right 20px
	@media screen and (max-width: $phone)
		top -45px
		right 0
		background-color #7cb342

			
.likearts-content .header-container .cart__icon
	display inline-block
	width 15px
	height 15px
	background-image url(../resources/icons/cart.png)
	@extend .cover
	position relative
	top 2px
	margin 0 5px
	@media screen and (max-width: $phone)
		background-image url(../resources/icons/cart-w.png)
		width 30px
		height 30px
		margin 0 3px
	
.likearts-content .header-container .cart__sum 
	display inline-block
	color $primary-color
	font-size 1.2rem
	@media screen and (max-width: $phone)
		display none
	
.likearts-content .header-container .cart__link
	display inline-block
	@media screen and (max-width: $phone)
		padding 15px	
		


